body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("background.png");
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.github-link {
  position: absolute;
  top: 5px;
  right: 10px;
}

.github-link:hover {
  cursor: pointer;
}

.flexbox {
  width: 100%;
  height: 100%;
}

.carousel {
  height: inherit;
}

.carousel-inner {
  height: inherit;
  display: flex;
  align-items: center;
  /* height: 100vh; */
}

.carousel-image-wrapper {
  text-align: center;
}

.carousel-image {
  width: 60%;
  /* max-width: 400px; */
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}

/* .carousel-indicators {
  bottom: 12rem;
} */

.carousel-caption {
  position: static;
  padding: 1.25rem;
}


@media screen and (min-width: 576px) {
  .flexbox {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .flexbox {
    width: 60%;
  }
}

@media screen and (orientation:landscape) {

  .board {
    --board-margin: calc(100vh * 0.10 / 2);
    height: calc(100vh - var(--board-margin));
    width: calc((100vh - var(--board-margin)) * 1.5);
    max-height: calc((100vw - var(--board-margin)) * (2/3));
    max-width: calc(100vw - var(--board-margin) + 1px);
  }
  
  .memo-card {
    --cards-margin: 4px;
    --board-margin: calc(100vh * 0.10 / 2);
    --edge-length: calc((100vh - var(--board-margin)) / 4 - var(--cards-margin));
    --max-edge-length: calc((100vw - var(--board-margin)) * (2/3) / 4 - var(--cards-margin));
    width: var(--edge-length);
    height: var(--edge-length);
    max-width: var(--max-edge-length);
    max-height: var(--max-edge-length);
    margin: calc(var(--cards-margin) / 2);
    float: left;
  }
}

@media screen and (orientation:portrait) {

  .memo-card {
    --cards-margin: 4px;
    --board-margin: calc(100vw * 0.10 / 2); 
    --edge-length: calc((100vw - var(--board-margin)) / 4 - var(--cards-margin));
    --max-edge-length: calc((100vh - var(--board-margin)) * (2/3) / 4 - var(--cards-margin));
    width: var(--edge-length);
    height: var(--edge-length);
    max-width: var(--max-edge-length);
    max-height: var(--max-edge-length);
    margin: calc(var(--cards-margin) / 2);
    float: left;
  }

  .board {
    --board-margin: calc(100vw * 0.10 /2);
    height: calc((100vw - var(--board-margin))*1.5);
    width: calc(100vw - var(--board-margin));
    max-height: calc((100vh - var(--board-margin)) );
    max-width: calc((100vh - var(--board-margin)) * (2/3) + 1px);
  }

}

.memo-card div, .showall-card {
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  background-position: center center;
}

.card-front {
  background-size: cover;
}

.card-back {
  background-color:aliceblue;
  background-image: url("./wikipedia-logo.svg");
  background-size: 90%;
  background-repeat: no-repeat;
}

.card-hidden {
  visibility: hidden;
}

#card-infobox-container {
  color: black;
  position: absolute;
  top:0px;
  left:0px;
  margin:0px;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0,0,0,0.2);
  z-index: 99;
}

.card-infobox-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

.card-image-wrapper {
  width: 40%;
}

@media screen and (max-width: 576px) {
  .card-image-wrapper {
    width: 100%;
  }

  .end-page-img {
    width: 25%;
  }
}

.image-credit {
  font-size: 0.7em;
}

.show-all-text-box {
  mask-image: linear-gradient(black, 80%, transparent);
}

.end-page-img {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .end-page-img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .end-page-img {
    width: 30%;
  }
}

.hidden {
  display: none;
}